/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f8f9fa !important;
}
.navbar-dark .navbar-brand {
  color: #ffffff !important;
}
.navbar-dark .navbar-toggler-icon {
  background-color: #e46115;
}
.navbar-dark .navbar-toggler {
  border-color: #b44809;
}
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:active {
  outline: none;
  border-color: #ffffff;
}
.navbar-toggler-icon {
  background-color: white;
  opacity: 0.6;
}
.sticky {
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar appears above content */
}
#cv{
  color: white;
}
.navbar {
  transition: top 0.3s; /* Transition effect for navbar position change */
}
.navbar-nav {
  margin-left: 300px;
}
@media only screen and (max-width: 1200px) {
  .navbar-nav {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar-nav {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 989px) {
  .navbar-nav {
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-nav {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-nav {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 417px) {
  .navbar-nav {
    margin-left: 0px;
  }
}

/* Biodata Section */
.biodata {
  margin-top: 70px;
  padding: 20px;
}
.biodata li {
  margin: 20px 20px;
  font-weight: 700;
}
#table1 td {
  padding-right: 10px;
  padding-bottom: 15px;
}
.bold {
  font-weight: 700;
}

/* Carousel */
.carousel-caption {
  position: absolute;
  width: 200px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  color: #e46115;
}
.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-caption {
    width: 300px;
  }
}
.imager {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .imager {
    width: 30%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .imager {
    width: 30%;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .imager {
    width: 30%;
    margin-bottom: 50px;
  }
}

/* Pendidikan Section */
.pend {
  margin-top: 50px;
  padding: 20px;
}
.table th {
  color: black;
}
.table td {
  color: black;
}
.table th, .table td {
  vertical-align: middle;
  border: none; /* Remove borders from table cells */
}
.table {
  border: none; /* Remove border from table */
}

/* Pekerjaan Section */
.kerja {
  margin-top: 50px;
  padding: 20px;
}

/* Keterampilan Section */
.keterampilan {
  margin-top: 50px;
  padding: 20px;
}
.skill-chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  margin-bottom: 5px;
  position: relative;
}
.bar::after {
  content: attr(data-skill);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}
.bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4a76e; /* Bar color */
  width: var(--skill-level); /* Skill level */
}

/* Lampiran Section */
.lampiran {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lampiran-img {
  width: 50px;
  height: auto;
}

/* Floating Button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2562d3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1000;
}
.floating-btn img {
  width: 30px;
  height: 30px;
}
.btn{
  padding: 5px;
  background-color: #b44809;
  border: 1px solid white;
}
.btn:hover{
  background-color: white;
  border: 1px solid #b44809;
  color:#b44809 ;
}

/* Body and Section Background */
body {
  /* background-image: url('image/lovepik-paper-texture-background-image_400533814.jpg'); */
  background-color: black;
  background-size: cover; /* Cover entire area */
  background-repeat: no-repeat; /* Do not repeat background */
  opacity: 0.93;
  transition: background-color 0.8s;
  color: white;
  
}

#slider{
  width: 40px;
}
section {
  background-image: url('image/lovepik-paper-texture-background-image_400533814.jpg');

  background-size: cover; /* Cover entire area */
  background-repeat: no-repeat; /* Do not repeat background */
  color: black;
  opacity: 0.95;
}
